/* Estilos generales del cuerpo */
body {
    background-color: #d2b0f3;
    color: white;
    font-family: Arial, sans-serif;
    padding: 50px;
}

.marco {
    background-color: #9c67f9;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
}

/* El título */
h1 {
    color: #6805a0; 
    text-align: center;
}


input {
    width: 70%;
    padding: 10px;
    background-color: white;
    border: none;
    color:#8933bb;
    border-radius: 5px;
}

/* Botón de Agregar */
#btnAgregar {
    background-color: #e5c2f6; 
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnAgregar:hover {
    background: #8933bb;
    color:rgb(255, 255, 255);
}

/* La lista de tareas */
ul {
    margin-top: 20px;
    padding: 0;
}

/* Cada tarea individual */
li {
    background-color: #ffffff; 
    margin-bottom: 10px;
    color:#8933bb;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    border-radius: 5px;
}

/* Los botones de Editar y Eliminar */
.acciones button {
    background-color: #e5c2f6; 
    color: rgb(83, 24, 172);
    border: none;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.acciones button:hover {
    background: #8933bb;
    color:rgb(255, 255, 255);
}